* {
  box-sizing: border-box;
}
body {
  background-color: black !important;
  margin: 0 auto !important;
  color: white !important;
  font-family: "Inter", sans-serif !important;
  padding: 0;
}

:root {
  --violet-text-color: rgb(201, 114, 216);
  --blue-color-text: #43a7d4;
}
.sections-title {
  text-align: center;
  font-weight: 800;
  font-size: 60px;
  margin-top: 70px;
}
.sections-title:hover {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    327deg,
    rgb(126, 0, 149) 19%,
    rgba(67, 167, 212, 1) 76%,
    rgba(67, 167, 212, 1) 88%,
    rgba(67, 167, 212, 1) 88%
  );
}

/* Navbar */
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.logo {
  width: 70px;
  height: 70px;
}

.navbar-nav .nav-link {
  color: white !important;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 250px 50px 250px;
  background-color: #000000;
}
.container-fluid {
  max-width: 1300px;
  text-align: center;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.nav-brand {
  font-size: 60px;
}
.nav-item:hover {
  transition-duration: all 3s;
  color: var(--violet-text-color);
  font-weight: 500;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.nav-item {
  font-size: 20px;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* First section */
.main-section {
  display: flex;
  margin-top: 200px;
  flex-direction: column;
}
.main-row {
  align-items: center;
  justify-content: space-around;
}
.name-title {
  font-size: 60px;
  font-weight: 400;
  display: flex;
}

.job-name {
  font-size: 65px;
  font-weight: 600;
}

.title-section {
  display: flex;
  flex-direction: column;
}

.code-image img {
  width: 300px;
  height: 300px;
}

.main-buttons-section {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}
.button {
  padding: 20px 60px;
  border-radius: 0.6em;
  background-color: black;
  border: solid 1.5px white !important;
  color: white !important;
  font-weight: 500;
  margin-right: 70px;
  text-decoration: none;
}

.button:hover {
  background: rgb(178, 3, 207);
  background: linear-gradient(
    327deg,
    rgb(126, 0, 149) 19%,
    rgba(67, 167, 212, 1) 76%,
    rgba(67, 167, 212, 1) 88%,
    rgba(67, 167, 212, 1) 88%
  );
  color: white !important;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button-portfolio span:after {
  content: "\276F";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button:visited {
  color: white !important;
}

.button-download span:after {
  content: "\2193";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

/*About*/
.about {
  margin: 130px;
  border: solid 2px var(--blue-color-text);
  border-radius: 1.5em;
  padding-bottom: 50px;
}
.content-about {
  align-items: center;
  justify-content: center;
}
.personal-image img {
  border: solid 2px var(--blue-color-text);
  border-radius: 10em;
  padding: 12px;
  width: 300px;
  height: 300px;
}
.personal-image,
.personal-text {
  display: flex;
  justify-content: center;
}

/*UP button*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 70px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 15px;
  border-radius: 2em;
}
#myBtn img {
  width: 30px;
  height: 30px;
}

#myBtn:hover {
  background-color: var(--blue-color-text);
}

/*Skills*/
.skills {
  margin-top: 50px;
}
.skills-section {
  display: flex;
  justify-content: center;
}
.skills-images img {
  width: 90px;
  height: 90px;
}
.skills-images {
  display: flex;
  flex-direction: column;
  padding: 40px 0px 40px 0px;
  align-items: center;
}
.skills-name {
  margin-top: 20px;
}

/*Projects*/
.slideshow-container {
  position: relative;
  margin: auto;
}
.projects-container {
  margin-top: 70px;
  margin-bottom: 50px;
}
.projects-section {
  display: flex;
}
.projects-images {
  height: 290px;
  border-radius: 1em;
  text-align: center;
}
.projects-images img {
  height: 290px;
  border-radius: 1em;
}
.text-projects h3 {
  font-weight: 600;
  font-size: 40px;
}
.section-buttons-projects {
  display: flex;
  margin-top: 75px;
}
.section-buttons-projects a {
  text-decoration: none;
}

.button-project img {
  width: 20px;
  height: 20px;
}
.button-project {
  position: relative;
  display: flex;
  align-items: center;
  border: solid 1px white;
  background-color: black;
  border-radius: 5px;
  margin-right: 45px;
}
.button-project:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #ffffff;
  position: absolute;
  transition: all 0.5s ease-out;
  right: 0;
}
.button-project:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}
.button-project span {
  padding: 10px 25px;
  color: #fff;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.button-project:hover span {
  color: #000000;
  font-weight: 500;
}
/* The dots */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot.active,
.dot:hover {
  background-color: var(--blue-color-text);
}
.dot {
  width: 20px;
  height: 20px;
}
.dots {
  text-align: center;
  margin: 30px;
}
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: -25px;
  border-radius: 0 3px 3px 0;
}
.prev {
  left: -50px;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

/*Contact section*/
.contacts img {
  width: 65px;
  height: 65px;
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  margin-right: 10px;
}
.contacts a {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
.contacts a:visited {
  color: white;
}
.contacts a:hover {
  color: var(--violet-text-color);
  text-decoration: underline;
}
.contacts img:hover {
  transform: scale(1.2);
}
.contacts {
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.contact-container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 100px;
}
.content-left {
  display: flex;
  justify-content: flex-end;
}
.text-contact {
  padding-left: 35px;
}

/*Footer*/
footer {
  height: 200px;
  text-align: center;
  border-top: 1px solid #717171;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: var(--blue-color-text);
}
footer p {
  font-size: 20px;
}

@media (max-width: 1290px) {
  .navbar,
  .nav-menu {
    margin: 0;
    z-index: 5;
  }
  .hamburger {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 20;
    background-color: #000000;
    padding: 20px;
  }
  .hamburger:active {
    background-color: #ffffff;
    position: fixed;
    top: 20px;
    right: 20px;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: black;
    z-index: -10;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}

@media (max-width: 768px) {
  .main-section {
    margin-top: 80px;
  }
  .name-title {
    font-size: 50px;
  }
  .job-name {
    font-size: 40px;
  }
  .code-image img {
    width: 100px;
    height: 100px;
  }
  .code-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .main-buttons-section {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .button {
    margin: 0 0 20px 0;
    padding: 15px 40px;
  }
  .about {
    margin: 50px;
  }
  .sections-title {
    font-size: 50px;
    margin: 40px 0;
  }
  .personal-image img {
    width: 200px;
    height: 200px;
  }
  .personal-text p {
    text-align: center;
    margin-top: 20px;
  }
  .skills-images img {
    width: 60px;
    height: 60px;
  }
  .skills-images {
    padding: 10px 0;
  }
  .skills {
    display: flex;
  }
  .skills-name {
    text-align: center;
  }
  .prev,
  .next {
    display: none;
  }
  .text-projects {
    text-align: center;
    margin-bottom: 40px;
  }
  .projects-container {
    margin-top: 30px;
  }
  .section-buttons-projects {
    margin-top: 50px;
    justify-content: center;
  }
  .button-project {
    margin: 10px 15px;
    height: 50px;
  }
  .projects-images img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 1em;
  }
  .projects-images {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-container {
    padding: 20px 0 30px 0;
  }
  .row-contact-section {
    display: flex;
    flex-direction: row;
  }
  .content-left {
    justify-content: flex-start;
  }
  .contacts {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
  }
  .text-contact {
    padding: 5px;
  }
  .contacts a {
    font-size: 16px;
  }
  .contacts img {
    width: 50px;
    height: 50px;
  }
  #myBtn {
    width: 30px;
    height: 30px;
    bottom: 45px;
    right: 20px;
    padding: 0;
  }
  #myBtn img {
    width: 15px;
    height: 15px;
  }
}
