body {
  background-color: black !important;
  margin: 0 auto !important;
  color: white !important;
  font-family: "Inter", sans-serif !important;
}
download-image{
   --image-url: url("./images/download.png");
}

/* Navbar */
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.logo {
  width: 70px;
  height: 70px;
}
.navbar-nav .nav-link {
  color: white !important;
}
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 250px 50px 250px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.nav-brand {
  font-size: 60px;
}
.nav-item:hover {
  transition-duration: all 3s;
    color: rgb(230, 87, 255);
font-weight: 500;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.nav-item {
  font-size: 20px;
}
.nav-item:hover {
  font-size: 23px;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* First section */
.main-section {
  display: flex;
  margin-top: 200px;
  flex-direction: column;
}
.main-row {
  align-items: center;
  justify-content: space-around;
}
.name-title {
  font-size: 60px;
  font-weight: 400;
}

.job-name {
  font-size: 65px;
  font-weight: 600;
}

.title-section {
  display: flex;
  flex-direction: column;
}

.code-image img {
  width: 300px;
  height: 300px;
}

.main-buttons-section{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}
.button {
  padding: 20px 60px 20px 60px;
  border-radius: 0.6em;
  background-color: black;
  border: solid 1.5px white !important;
  color: white;
  font-weight: 500;
  margin-right: 70px;
text-decoration: none;
}

.button:hover {
  background: rgb(178, 3, 207);
  background: linear-gradient(
    327deg,
    rgb(126, 0, 149) 19%,
    rgba(67, 167, 212, 1) 76%,
    rgba(67, 167, 212, 1) 88%,
    rgba(67, 167, 212, 1) 88%
  );
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button-portfolio span:after {
  content: '\276F';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button:visited {
    color: white !important;
}

.button-download span:after {
  content: '\2193';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

/*About*/
.about{
    margin: 130px;
    border: solid 2px #43A7D4;
    border-radius: 1.5em;
    padding: 50px;
}
.sections-title{
    
}
.content-about{
align-items: center;
}
.personal-image img{
    border: solid 2px #43A7D4;
    border-radius: 10em;
    padding: 12px;
    width: 300px;
    height: 300px;

}
.personal-image, .personal-text{
        display: flex;
    justify-content: center;
}


@media (max-width: 1290px) {
  .navbar {
    margin: 0;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: black;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}
